name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip libncurses5 libstdc++6 zlib1g-dev libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev libsqlite3-dev

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Buildozer
        run: |
          pip install --user --upgrade buildozer cython==0.29.33
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Build with Buildozer
        run: |
          buildozer init
          # Автоматически меняем настройки под Pygame
          sed -i 's/requirements = python3,kivy/requirements = python3,pygame,sdl2_ttf,sdl2_image,sdl2_mixer/' buildozer.spec
          buildozer android debug || true

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: snake_apk
          path: "**/*.apk"
          
